/**
    Custom Theme Styles
*/
:root {
  --theme-color: #e42d42;

  --base-font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --mono-hue: 240;
  --mono-saturation: 12%;

  --sidebar-name-font-size: 1.8rem;
  --sidebar-name-font-weight: 700;

  --heading-h1-font-weight: 600;
  --heading-h1-font-size: 2rem;

  --heading-h2-font-weight: 600;
  --heading-h2-font-size: 1.6rem;

  --heading-h3-font-weight: 500;
  --heading-h3-font-size: 1.2rem;

  --sidebar-width: 15rem;
  --sidebar-nav-margin: 0;

  --base-font-size: 1.35rem;

  --search-margin: 0.5rem 0;
}

h1.app-name {
  text-align: left;
}

a.app-name-link span {
  color: var(--theme-color);
}

a.app-name-link img {
  vertical-align: text-bottom;
  margin-right: 5px;
}

p.footer {
  text-align: right;
  margin: 2em 0 0 0;
  font-size: 80%;
  position: relative;
  padding-top: 0.5em;
}

p.footer:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 1px;
  width: 3.5rem;
}

textarea.feedback {
  width: 100%;
  min-height: 5rem;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-radius: 4px;
  border-style: none;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.wrap-collabsible {
  margin-top: 2rem;
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 0.9rem;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

a.btn.submit {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #e42d42;
  color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  -webkit-appearance: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 2px 4px;
  margin: 0px;
  text-decoration: none;
  transition: box-shadow 0.1875s cubic-bezier(0.375, 0, 0.675, 1) 0s;
  border-radius: 9999px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

a.btn.submit:hover,
a.btn.submit:focus {
  box-shadow: rgba(96, 110, 119, 0.25) 0px 2px 6px;
}

a.switch {
  position: fixed;
  right: 1rem;
}

a.switch img {
  vertical-align: text-top;
}

@media only screen and (max-width: 600px) {
  :root {
    --base-font-size: 1.2rem;
    --base-line-height: 1.65;
  }

  .markdown-section {
    padding: 2rem 25px;
  }

  h1, h2 {
    line-height: 1.2!important;
  }
}
